.toggle-menu__button {
    all: unset;
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-top-left-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-base);
    background-color: var(--tangerine-dream);
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.toggle-menu__dots {
    width: 1rem;
    height: 1rem;
    color: white; /* standard color, changeable */
}

.toggle-menu__backdrop {
    position: fixed;
    max-width: 30rem;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.toggle-menu__sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
}

.toggle-menu__sheet-content {
    width: 100%;
    max-width: 30rem;
    background: white;
    border-top-left-radius: var(--border-radius-large);
    border-top-right-radius: var(--border-radius-large);
    animation: slideUp 0.2s ease-out;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.toggle-menu__sheet-item {
    all: unset;
    width: 100%;
    padding-block: var(--padding-block-base);
    text-align: center;
    font-size: var(--font-size-base);
    border-bottom: 0.1rem solid var(--tea-green);
    transition: background 0.2s;
}

.toggle-menu__sheet-cancel {
    all: unset;
    width: 100%;
    padding-block: var(--padding-block-base);
    text-align: center;
    font-weight: bold;
    color: var(--tomato);
    transition: background 0.2s;
}