.calendar {
    background: #FE8C46;
    background: linear-gradient(180deg, rgba(254, 140, 70, 1) 67%, rgba(255, 255, 255, 0) 100%);
    padding: 2rem;
    padding-bottom: 5rem;
    color: #fbf4f3;

}

.calendar_date {
    font-size: 1.75rem;
    font-weight: bolder;
}

.week {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.week_days {
    flex-grow: 1;
    text-align: center;
}

.week_number {
    font-size: 1.25rem;
    font-weight: bold;
}