.page-header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--snow);
    z-index: 10;
}

.page-header__title {
    text-transform: uppercase;
    font-size: var(--font-size-s);
}

.page-header__arrow {
    width: 1rem;
    height: 1rem;
    transform: scale(1.1);
}

.page-header__title {
    margin: 0;
}

.page-header__cross {
    width: 1rem;
    height: 1rem;
}
