.task-item {
    --infos-border-left-width: 0.8rem; /* custom variable: width of the colored left border */
    display: flex; /* places child elements next to each other */
    gap: var(--gap-base); /* space between the children */
    margin-bottom: var(--margin-base);
}

.task-item__time {
    flex: 0 0 3rem;
    font-variant-numeric: tabular-nums; /* sets all numbers to same size */
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.07rem;
}

.task-item--checked .task-item__time {
    opacity: 0.4;
}

.task-item__button {
    all: unset; /* removes default button styles */
    position: relative; /* allows absolutely positioned checkmark inside */
    flex: 1; /* makes the button take up remaining space */
    border-radius: var(--border-radius-base);
    overflow: hidden;
    background-color: white;
    /* solid orange gradient that will “wipe” from left to right when checked */
    background-image: linear-gradient(to right, var(--tangerine-dream) 0, var(--tangerine-dream) 100%);
    background-size: 0 100%; /* start with gradient width = 0 (hidden), then to 100% (animates from left to right)  */
    background-repeat: no-repeat;
    transition: background-size 0.25s ease-in-out; /* when checked: transition of gradient width */
    box-shadow: 0.1rem 0.4rem 1.5rem color-mix(in oklab, var(--tangerine-dream) 30%, transparent);
}

/* Animation that fades the button background color from solid orange
   to a transparent version of the same color after the gradient */
@keyframes buttonBackgroundTransition {
    0% {
        background: var(--tangerine-dream)
    }
    100% {
        background: color-mix(in oklab, var(--tangerine-dream), transparent);
    }
}

.task-item--checked .task-item__button {
    background-size: 100% 100%; /* runs gradient wipe */
    animation: buttonBackgroundTransition 0.25s forwards; /* fades background after the gradient */
    animation-delay: 0.25s;
    box-shadow: none;
}

.task-item__infos {
    padding: 1rem;
    border-left: var(--infos-border-left-width) solid var(--tangerine-dream);
}

.task-item--checked .task-item__infos {
    opacity: 0.4;
    border-left-color: transparent;
}

.task-item__profile {
    display: inline-flex;
    align-items: center;
    gap: var(--gap-small);
    margin-bottom: var(--margin-small);
    padding: var(--padding-block-small) var(--padding-inline-small);
    background: var(--tangerine-dream);
    color: white;
    border-radius: var(--border-radius-small);
    font-size: var(--font-size-l);
    font-weight: bold;
}


.task-item__icon {
    width: 0.8rem;
    height: 0.8rem;
    padding: 0.2rem;
    overflow: visible;
    background: var(--snow);
    border-radius: 50%;
}

.task-item__medication {
    font-weight: bold;
}

.task-item__details {
    display: flex;
    gap: var(--gap-small);
    font-size: var(--font-size-s);
}

.task-item__status {
    font-style: italic;
}

.task-item__checkmark-wrapper {
    position: absolute;
    top: -1.35rem;
    right: -0.5rem;
    transform: translateY(-5rem); /* starts invisible outside the button */
    transform-origin: top;
    transition: transform 0.1s cubic-bezier(.18, .69, .37, 1) 0.25s;
}

.task-item--checked .task-item__checkmark-wrapper {
    transform: translateY(0); /* slides to wanted position */
}

.task-item__checkmark {
    width: 7rem;
    height: 7rem;
}