.choose-medication {
    min-height: 100vh; /* 100% of the height of the visible browser window */
    box-sizing: border-box;
    padding: var(--padding-block-base) var(--padding-inline-base);
    display: flex;
    flex-direction: column;
}

.choose-medication__intro {
    all: unset;
    font-variant-numeric: tabular-nums; /* sets all numbers to same size */
    margin-block: var(--margin-base);
    font-size: var(--font-size-xxl);
    font-weight: bold;
}

.choose-medication__existing label {
    display: flex;
    flex-direction: column;
}

.choose-medication__existing select {
    margin-block: var(--margin-base);
    background-color: white;
    box-shadow: 0.1rem 0.4rem 1.5rem color-mix(in oklab, var(--tea-green) 30%, transparent);
}

.choose-medication__existing select.is-placeholder {
    color: grey;
    font-style: italic;
}

.choose-medication__existing option {
    font-style: normal;
    color: var(--rich-mahogany);
    font-size: var(--font-size-base);
    font-family: "Ysabeau Office", serif;
}

.select-wrapper {
    position: relative;
}

.select-arrow {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 1rem;
    height: 1rem;
}

.choose-medication__new {
    margin-block: var(--margin-base);
    background-color: var(--tea-green);
}

.choose-medication__next {
    margin-top: auto;
    position: sticky;
    bottom: var(--padding-block-base);
    background-image: radial-gradient(
            circle at 15% 25%,
            var(--tangerine-dream) 10%,
            var(--tomato) 100%
    );
    color: var(--snow);
    font-size: var(--font-size-l);
}