.choose-dose__input-line {
    display: flex;
    align-items: center;
    gap: var(--gap-base);
}

.choose-dose__input {
    background-color: white;
    margin-block: var(--margin-base);
    border: none;
    box-shadow: 0.1rem 0.4rem 1.5rem color-mix(in oklab, var(--tea-green) 30%, transparent);
}

.choose-dose__unit {
    font-weight: bold;
    font-size: var(--font-size-l);
}