:root {
    /* color theme */
    --snow: #fbf3f4ff;
    --rich-mahogany: #291000ff;
    --tomato: #ff5733ff;
    --tangerine-dream: #fe8c46ff;
    --sunflower-gold: #fec34bff;
    --tea-green: #c5edacff;

    /* general colors */
    --color-text: var(--rich-mahogany);
    --color-background: var(--snow);

    /* borders */
    --border-radius-big: 20px;
    --border-radius-small: 16px;

    /* fonts */
    --font-size-base: 16px;

    --font-size-s: 12px;
    --font-size-l: 18px;

    --line-height-base: 1.4;
}

body {
    max-width: 480px;
    padding: 20px 40px;
    line-height: var(--line-height-base);
    background-color: var(--snow);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}