:root {
    /* color theme */
    --snow: #fbf3f4ff;
    --rich-mahogany: #291000ff;
    --tomato: #ff5733ff;
    --warning-red: #F52D00;
    --tangerine-dream: #fe8c46ff;
    --tangerine-dream-light: color-mix(in oklab, var(--tangerine-dream), transparent);
    --sunflower-gold: #fec34bff;
    --tea-green: #c5edacff;
    --charcoal-blue: #0E4257; /* new color test */

    /* general colors */
    --color-text: var(--rich-mahogany);
    --color-background: var(--snow);

    /* borders */
    --border-radius-small: 1rem;
    --border-radius-large: 3rem;
    --border-radius-base: 1.25rem;

    /* fonts */
    --font-size-base: 1rem;
    --font-size-s: 0.75rem;
    --font-size-l: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-xxl: 1.75rem;
    --font-family-base: "Ysabeau Office";

    --line-height-base: 1.4;

    /* margin */
    --margin-small: 0.5rem;
    --margin-base: 1.75rem;

    /* padding */
    --padding-block-small: 0.3rem;
    --padding-block-base: 1.25rem;
    --padding-inline-small: 0.7rem;
    --padding-inline-base: 1.75rem;

    /* gap */
    --gap-small: 0.4rem;
    --gap-base: 1.25rem;
}

/* font import */
@font-face {
    font-family: "Ysabeau Office";
    src: local("Ysabeau Office"),
    url("./assets/ysabeau-office-variable.ttf") format("truetype");
}

@font-face {
    font-family: "Ysabeau Office";
    src: local("Ysabeau Office"),
    url("./assets/ysabeau-office-italic-variable.ttf") format("truetype");
    font-style: italic;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    text-rendering: optimizeLegibility;
}

body {
    max-width: 30rem;
    margin: 0;
    padding: 0;
    line-height: var(--line-height-base);
    background-color: var(--snow);
    font-family: var(--font-family-base), sans-serif;
    font-size: var(--font-size-base);
    color: var(--rich-mahogany);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* base classes */

.page {
    min-height: 100vh; /* 100% of the height of the visible browser window */
    box-sizing: border-box;
    padding: var(--padding-block-base) var(--padding-inline-base);
    display: flex;
    flex-direction: column;
}

.title {
    margin-block: var(--margin-base);
    font-size: var(--font-size-xxl);
    font-weight: bold;
}

.control {
    height: 3.5rem;
    padding-inline: var(--padding-inline-base);
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: var(--border-radius-large);
    font-weight: bold;
    line-height: 1;
}

.control:focus-visible {
    outline: 0.2rem solid var(--tangerine-dream);
    outline-offset: 0.2rem;
}

.date {
    width: calc(100% - (2 * var(--padding-inline-base)));
}

.button {
    justify-content: center;
    border: none;
    cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button-next {
    margin-top: auto;
    position: sticky;
    bottom: var(--padding-block-base);
    background-image: radial-gradient(
            circle at 15% 25%,
            var(--tangerine-dream) 10%,
            var(--tomato) 100%
    );
    color: var(--snow);
    font-size: var(--font-size-l);
}

.select {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    line-height: normal;
    margin-block: var(--margin-base);
    background-color: white;
    box-shadow: 0.1rem 0.4rem 1.5rem color-mix(in oklab, var(--tea-green) 30%, transparent);
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: "";
    background-image: url("./assets/triangle-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    position: absolute;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    top: 50%;
    right: 1.5rem;
}

select.is-placeholder {
    color: grey;
    font-style: italic;
}

/* input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { /* hide arrows in Chrome, Safari, Edge, Opera */
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] { /* hide arrows in Firefox */
    -moz-appearance: textfield;
}