:root {
    /* color theme */
    --snow: #fbf3f4ff; /* primary background color */
    --snow-grey: color-mix(in oklab, var(--snow) 97%, black); /* secondary background color */
    --rich-mahogany: #291000ff; /* primary text color */
    --tangerine-dream: #fe8c46ff; /* primary color */
    --tomato: #ff5733ff; /* secondary color */
    --tangerine-dream-light: color-mix(in oklab, var(--tangerine-dream), transparent); /* primary accent color */
    --charcoal-blue: #0E4257; /* secondary accent color */
    --tea-green: #c5edacff; /* tertiary accent color */

    /* general colors */
    --color-text: var(--rich-mahogany);
    --color-background: var(--snow);

    /* borders */
    --border-radius-small: 1rem;
    --border-radius-large: 3rem;
    --border-radius-base: 1.25rem;

    /* fonts */
    --font-size-base: 1rem;
    --font-size-s: 0.75rem;
    --font-size-l: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-xxl: 1.75rem;
    --font-family-base: "Ysabeau Office";

    --line-height-base: 1.4;

    /* margin */
    --margin-small: 0.5rem;
    --margin-base: 1.75rem;

    /* padding */
    --padding-block-small: 0.3rem;
    --padding-block-base: 1.25rem;
    --padding-inline-s: 0.7rem;
    --padding-inline-m: 1rem;
    --padding-inline-base: 1.75rem;

    /* gap */
    --gap-small: 0.4rem;
    --gap-base: 1.25rem;
}

/* font import */
@font-face {
    font-family: "Ysabeau Office";
    src: local("Ysabeau Office"),
    url("./assets/ysabeau-office-variable.ttf") format("truetype");
}

@font-face {
    font-family: "Ysabeau Office";
    src: local("Ysabeau Office"),
    url("./assets/ysabeau-office-italic-variable.ttf") format("truetype");
    font-style: italic;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    text-rendering: optimizeLegibility;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    max-width: 30rem;
    margin: 0;
    padding: 0;
    line-height: var(--line-height-base);
    background-color: var(--snow);
    font-family: var(--font-family-base), sans-serif;
    font-size: var(--font-size-base);
    color: var(--rich-mahogany);
    view-transition-name: unset;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

option {
    font-style: normal;
    color: var(--rich-mahogany);
    font-size: var(--font-size-base);
    font-family: "Ysabeau Office", serif;
}

legend {
    padding: 0;
}

fieldset {
    min-inline-size: unset;
    margin: 0;
    padding: 0;
    border: none;
}

/* base classes */

.page-full,
.view-transition-wrapper {
    min-height: 100dvh;
    /* 100% of the height of the visible browser window */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.page {
    min-height: 100dvh;
    /* 100% of the height of the visible browser window */
    box-sizing: border-box;
    padding: var(--padding-inline-base);
    display: flex;
    flex-direction: column;
}

.page-padding {
    padding: var(--padding-inline-base);
}

.title {
    margin-top: 0;
    margin-bottom: var(--margin-base);
    font-size: var(--font-size-xxl);
    font-weight: bold;
}

.with-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.query-wrapper {
    background: var(--snow-grey);
    margin-top: var(--margin-base);
    padding: var(--padding-inline-base);
    border-radius: var(--border-radius-small);
}

.query-wrapper .title {
    margin-top: calc(-1 * var(--margin-small));
}

.set-reminder__title {
    margin: 0;
    font-size: var(--font-size-base);
    font-weight: bold;
}

.control {
    box-sizing: border-box;
    display: flex;
    height: 3.5rem;
    width: 100%;
    align-items: center;
    line-height: normal;
    overflow: visible;
    padding-inline: var(--padding-inline-base);
    border: none;
    border-radius: var(--border-radius-large);
    font-family: "Ysabeau Office", serif;
    font-size: var(--font-size-base);
    font-weight: bold;
    color: var(--rich-mahogany);
}

.control:focus-visible {
    outline: 0.2rem solid var(--tangerine-dream);
    outline-offset: 0.2rem;
}

select.is-placeholder {
    color: grey;
    font-style: italic;
}

.select {
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    box-shadow: 0.1rem 0.4rem 1.5rem color-mix(in oklab, var(--tea-green) 30%, transparent);
}

.select-wrapper {
    position: relative;
    margin-top: var(--margin-base);
}

.select-wrapper::after {
    content: "";
    background-image: url("./assets/triangle-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    position: absolute;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    top: 50%;
    right: 1.5rem;
}

.button {
    justify-content: center;
    border: none;
    cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button-next {
    margin-top: auto;
    position: sticky;
    bottom: calc(var(--padding-inline-base) + env(safe-area-inset-bottom));
    background-image: radial-gradient(circle at 15% 25%,
    var(--tangerine-dream) 10%,
    var(--tomato) 100%);
    color: var(--snow);
    font-size: var(--font-size-xl);
}

.date-wrapper {
    margin-top: var(--margin-base);
}

.date {
    position: relative;
    border: none;
    height: 3rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--border-radius-small);
    padding-inline: var(--padding-inline-m);
    background: var(--charcoal-blue);
    color: white;
    font-family: "Ysabeau Office", serif;
    font-size: var(--font-size-base);
    font-weight: bold;
}

.unit {
    font-weight: bold;
    font-size: var(--font-size-l);
}

.optional {
    font-weight: normal;
}

.optional--small {
    font-size: var(--font-size-s);
}

.optional--title {
    margin-left: 0.4rem;
    font-size: var(--font-size-l);
    color: var(--tomato);
}

.warning {
    color: var(--tomato);
}

.warning--spaced {
    margin-top: var(--margin-base);
    font-weight: bold;
}

.notice {
    color: var(--charcoal-blue);
    margin-top: var(--margin-base);
}

.notice__title {
    font-weight: bold;
}

.notice__meta {
    font-weight: normal;
}

/* view transitions */

.view-transition-form {
    flex: 1;
    view-transition-name: forms;
    background: var(--snow);
}

@keyframes slide-from-right {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-to-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100vw);
    }
}

::view-transition-old(forms) {
    animation: slide-to-right 0.3s;
}

::view-transition-new(forms) {
    animation: slide-from-right 0.3s;
}

/* input */

.input {
    box-shadow: 0.1rem 0.4rem 1.5rem color-mix(in oklab, var(--tea-green) 30%, transparent);
}

.input-line {
    display: flex;
    align-items: center;
    gap: var(--gap-base);
}

.input-wrapper {
    margin-top: var(--margin-base);
}

input::placeholder {
    color: grey;
    font-style: italic;
}

input::-webkit-input-placeholder {
    color: grey;
    font-style: italic;
}

input::-moz-placeholder {
    color: grey;
    font-style: italic;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* hide arrows for number inputs in Chrome, Safari, Edge, Opera */
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    /* hide arrows for number inputs in Firefox */
    -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: var(--padding-inline-m);
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    outline-offset: 0.2rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url("./assets/calendar.svg");
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background-image: url("./assets/clock.svg");
}

input[type="date"]:focus-visible,
    /* my own focus style */
input[type="time"]:focus-visible {
    outline: 0.2rem solid var(--tangerine-dream);
}